<header>
    <nav>
      <ul>
        <a class="navbar-brand" style="color: #02090e;">
          <img src="assets/logo.jpg" height="50" style="border-radius: 100px; margin-right: 10px; margin-top: -12px;" class="logo-image">
          MEDICAL CARE
        </a>
        <li><a routerLink="/main">Home</a></li>
        <li><a routerLink="/docapp">REQUESTS</a></li>
        <li><a routerLink="/appapprove">APPROVED</a></li>
        <li><a routerLink="/appdecline">DECLINED</a></li>
        
      </ul>
    </nav>
  </header>
  