 <section class="vh-100" style="background-color: #1e1644;">
  <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/doc8.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100%; max-width:114%"/>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form (ngSubmit)="login()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">ADMIN LOGIN</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                    <div class="form-outline mb-4">
                      <input type="text" id="executive_Email" class="form-control form-control-lg" placeholder="Email address" required [(ngModel)]="executive_Email" name="executive_Email">
                      <div *ngIf="submitted && !executive_Email" class="text-danger">Email is required</div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="executive_Password" class="form-control form-control-lg" placeholder="Password" required [(ngModel)]="executive_Password" name="executive_Password">
                      <div *ngIf="submitted && !executive_Password" class="text-danger">Password is required</div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

