<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box">
                <i class="material-icons">&#xE876;</i>
            </div>
            <h4 class="modal-title w-100" style="color: black;">Booking Scheduled!</h4>
        </div>
        <div class="modal-body">
            <p class="text-center">Your booking has been scheduled. Please wait for a confirmation message for further details.</p>
        </div>
        <div class="modal-footer">
            <a routerLink="/main" class="btn btn-success btn-block">Back to Dashboard</a>
        </div>
    </div>
</div>
