<div class="container">
  <form #passwordForm="ngForm" (ngSubmit)="checkPassword()">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password here" [(ngModel)]="pass.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

    <label for="cnfrm-password">Confirm Password</label>
    <input type="password" id="cnfrm-password" name="confirmPassword" placeholder="Confirm your password here"  [(ngModel)]="pass.confirmPassword" required>

	<input type="submit" value="SUBMIT" [disabled]="passwordForm.invalid" (click)=" updatePassword()">
  </form>
</div>
