    <header>
        <nav>
          <ul>
            <a class="navbar-brand" style="color: #02090e;">
              <img src="assets/logo.jpg" height="50" style="border-radius: 100px; margin-right: 10px; margin-top: -12px;" class="logo-image">
              MEDICAL CARE
            </a>
            <li><a routerLink="/main">Home</a></li>
            <li><a routerLink="/docsts">REQUESTS</a></li>
            <li><a routerLink="/doctorapproved">APPROVED</a></li>
            <li><a routerLink="/doctordeclined">DECLINED</a></li>
            <li><a routerLink="/viewapp">APPOINTMENT</a></li>
            <li><a routerLink="/appiontmentreq">APPOINTMENT REQUEST</a></li>
            
          </ul>
        </nav>
      </header>
      